<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <img [src]="selectedHotel.image" alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li><a href="#">Hotel</a></li>
          <li><a href="#">Fishing</a></li>
          <li><a href="#">Tours</a></li>
          <li class="anc-bor"><a href="#">Weather</a></li>
        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <div class="activity-row" (click)="setSelectedHotel(hotels[0])">
              <div class="activity-desc">
                <h5>{{hotels[0].name}}</h5>
                <p>{{hotels[0].address}}</p>
                <h6>{{hotels[0].telephone}}</h6>
              </div>
              <div class="activity-img">
                <ul>
                  <li><img [src]='hotels[0].imagePreview' alt=""/></li>
                  <li><img [src]='hotels[0].additionalImagePreview' alt=""/></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div class="activity-row" (click)="setSelectedHotel(hotels[1])">
              <div class="activity-desc">
                <h5>{{hotels[1].name}}</h5>
                <p>{{hotels[1].address}}</p>
                <h6>{{hotels[1].telephone}}</h6>
              </div>
              <div class="activity-img">
                <ul>
                  <li><img [src]='hotels[1].imagePreview' alt=""/></li>
                  <li><img [src]='hotels[1].additionalImagePreview' alt=""/></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div class="activity-row" (click)="setSelectedHotel(hotels[2])">
              <div class="activity-desc">
                <h5>{{hotels[2].name}}</h5>
                <p>{{hotels[2].address}}</p>
                <h6>{{hotels[2].telephone}}</h6>
              </div>
              <div class="activity-img">
                <ul>
                  <li><img [src]='hotels[2].imagePreview' alt=""/></li>
                  <li><img [src]='hotels[2].additionalImagePreview' alt=""/></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <widget-weather [city]="selectedHotel.city"></widget-weather>
    <widget-details [hotel]="selectedHotel"></widget-details>
  </div>
</div>
