<div class="row">
  <div class="col-xs-12">
    <h3 class="mail_head">{{activeMenuItem.name}} <sup *ngIf="activeMenuItem.countLabel">({{activeMenuItem.countLabel}})</sup></h3>
  </div>

  <div class="col-xs-12">
    <div class="pull-left">
      <div class="btn-group mail_more_btn">
        <button type="button" class="btn btn-default">{{filterField}}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li *ngFor="let filterItem of MAIL_FILTER_ITEMS"><a (click)="filterMails(filterItem)">{{filterItem}}</a></li>
        </ul>
      </div>
    </div>

    <nav class='pull-right'>
      <ul class="pager mail_nav">
        <li><a (click)="changePage(-1)"><i class='fa fa-arrow-left icon-xs icon-accent icon-secondary'></i></a></li>
        <li><a (click)="changePage(1)"><i class='fa fa-arrow-right icon-xs icon-accent icon-secondary'></i></a></li>
      </ul>
    </nav>
    <span class='pull-right mail_count_nav text-muted'>
      <strong>{{getFirstItemPage()}}</strong> to <strong>{{getLastItemPage()}}</strong> of {{mails?.length}}
    </span>
  </div>

  <div class="mail_list col-xs-12">
    <div class="progress" *ngIf="loading">
      <div class="progress-bar progress-bar-striped active" role="progressbar">Loading...</div>
    </div>
    <ul>
      <mailbox-mail-list-item *ngFor="let mail of mails | mailPaging:page; odd as odd"
                              [mail]="mail"
                              [odd]="odd"
                              (loading$)="initLoading($event)"
                              (checkedMail)="manipulateSelectedMail($event)">
      </mailbox-mail-list-item>
    </ul>
  </div>
</div>
