<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <img [src]="selectedHotel.image" alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li *ngFor="let raiting of raitings" (click)="setSelectedRaiting(raiting.stars)">{{raiting.raitingName}}</li>
        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <widget-item *ngFor="let hotel of hotels | hotelFilter:selectedRating; " [hotel]="hotel" (newSelectedHotel)="setSelectedHotel($event)"></widget-item>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <widget-weather [city]="selectedHotel.city"></widget-weather>
    <widget-details [hotel]="selectedHotel"></widget-details>
  </div>
</div>
