<li routerLinkActive="open">
  <a [routerLink]="[leftMenuItem.href]">
    <i [ngClass]="leftMenuItem.icon"></i>
    <span class="title">{{leftMenuItem.name}}</span>
  </a>
  <ul class="sub-menu" *ngIf="router.isActive(leftMenuItem.href | activeMenu)">
    <li *ngFor="let subItem of leftMenuItem.subItems">
      <a [routerLink]="[subItem.href]" routerLinkActive="active" (click)="activateMenuItem(subItem)">
        <i [ngClass]="subItem.icon" *ngIf="subItem.icon"></i>
        {{subItem.name}}
        <span *ngIf="subItem.countLabel" class="label label-accent">{{subItem.countLabel}}</span>
      </a>
    </li>
  </ul>
</li>
