<li [ngClass]="{odd: !odd}">
  <div class="row">
    <span class="checkbox-col">
      <input class="iCheck" [checked]="checked" type="checkbox" (click)="chooseMail()" *ngIf="mail.type !== 'TRASH'">
    </span>
    <span class="star-col">
      <span class="star">
        <i class='fa fa-star-o icon-xs icon-accent' [ngClass]="{'fa-star-o': !mail.favorite, 'fa-star': mail.favorite}" (click)="favorite()"></i>
      </span>
    </span>
    <span class="name-col open-view"
          [ngClass]="{unread: !mail.read}"
          (click)="openMail()">
      <span *ngIf="mail.type !== 'SENT'; else overrideSender">{{mail.sender | contact}}</span>
    </span>
    <span class="subj-col open-view"><span class="msgtext" (click)="openMail()">{{mail.topic}}</span></span>
    <span class="date-col open-view"><span class="msg_time">{{mail.time | mailDate}}</span></span>
  </div>
</li>

<ng-template #overrideSender>me</ng-template>
