<li class='menusection'></li>
<div *ngIf="router.isActive('mails' | activeMenu)">
  <a class="btn btn-primary btn-block" [routerLink]="['/mailbox/mails/compose']">Compose</a>
  <a class="btn btn-primary btn-block" (click)="deleteEmails()" [attr.disabled]="deleteEmailsEnabled ? null : 'true'">Delete</a>
</div>
<div *ngIf="router.isActive('contacts' | activeMenu)">
  <a class="btn btn-primary btn-block" disabled="true">Add contact</a>
  <a class="btn btn-primary btn-block" disabled="true">Add group</a>
  <a class="btn btn-primary btn-block" disabled="true">Delete</a>
</div>
