<div class="row">
  <div class="col-xs-12">
    <h3 class="mail_head">View</h3>
  </div>

  <div class="col-xs-12 mail_view_title">
    <div class="pull-left">
      <h3 class="">{{mail.topic}}</h3>
    </div>

    <div class="pull-right">
      <i class='fa fa-star-o icon-xs icon-accent'
         [ngClass]="{'fa-star-o': !mail.favorite, 'fa-star': mail.favorite}"
         (click)="favorite()"></i>
      <button type="button" class="btn btn-default btn-icon" title="Reply"
              [routerLink]="['/mailbox/mails/reply']"
              [queryParams]="{id: this.mail.$key, all: false}">
        <i class="fa fa-reply icon-xs"></i>
      </button>
      <button type="button" class="btn btn-default btn-icon" title="Reply All"
              [routerLink]="['/mailbox/mails/reply']"
              [queryParams]="{id: this.mail.$key, all: true}">
        <i class="fa fa-reply-all icon-xs"></i>
      </button>
      <button type="button" class="btn btn-default btn-icon" title="Forward"
              [routerLink]="['/mailbox/mails/forward']"
              [queryParams]="{id: this.mail.$key}">
        <i class="fa fa-mail-forward icon-xs"></i>
      </button>
      <button type="button" class="btn btn-default btn-icon" title="Trash"
              (click)="moveToTrash()" *ngIf="(mail.type !== 'TRASH')">
        <i class="fa fa-trash-o icon-xs"></i>
      </button>
    </div>
  </div>

  <div class="col-xs-12 mail_view_info">
    <div class="pull-left">
      <div><span><strong>From: </strong></span>{{mail.sender | contact}}</div>
      <div>
        <strong>To: </strong>
        <span *ngFor="let receiver of mail.receivers; last as last">{{receiver | contact}}<span *ngIf="!last">,</span> </span>
      </div>
    </div>
    <div class="pull-right">
      <span class="msg_ts text-muted">{{mail.time | date:'dd MMM yyyy, HH:mm'}}</span>
    </div>
  </div>

  <div class="col-xs-12 mail_view">{{mail.body}}</div>
</div>
