<div id="signup">
  <h1>Sign Up for Free</h1>

  <form [formGroup]="authenticationForm">
    <div class="top-row">
      <authentication-input [input]="authenticationForm.get('firstName')" [submitted]="submitted">First Name</authentication-input>
      <authentication-input [input]="authenticationForm.get('lastName')" [submitted]="submitted">Last Name</authentication-input>
    </div>
    <authentication-input [input]="authenticationForm.get('email')" [submitted]="submitted">Email Address</authentication-input>
    <authentication-input [input]="authenticationForm.get('password')" [type]="'password'" [submitted]="submitted">Set A Password</authentication-input>

    <button type="submit" class="button button-block" (click)="authenticate()">Get Started</button>
  </form>
</div>
